.page{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(0, 0, 0)) ;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
  }
  .page-content{
    max-width: 800px;
    font-style: italic;
  }
  .page-content h3{
    font-size: 30px;
  }
  .page-content h1{
    font-size: 50px;
    
  }
  
  .page-content p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
    letter-spacing: 3px;
    margin-top: 15px;
    color:rgb(255, 255, 255);
  }
  .img-page img{
    border-radius: 50%;
    width: 400px;
    border: 1px solid rgb(0, 0, 0);
    object-fit: cover;
  }
  .spanto{
    color: aqua;
    text-shadow: 0 0 25px;
    opacity: 0;
    animation: apparireScomparire 5s infinite;
    transition: 0.3s ease;
  }
  @keyframes apparireScomparire{
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  
  }
  