#page-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding-top: 125px;
  padding-bottom: 10px;
  gap: 3.8em;
  color: rgb(255, 255, 255) ;
  background: black;
  text-align: center;
  margin: 0;
  box-shadow: 0 0 15px;
  text-transform: ;
}

.title h2{
  
}

.footer{
  color: rgb(255, 255, 255);
}

  .footer img{
background-color: aliceblue;
border-radius: 50%;
border: 1px solid white;
width: 25px;
margin-right: 8px;
margin-bottom: 8px;
margin-top: 6px;
color: orangered;
box-shadow: 0 0 15px;
object-fit: cover;

}
  
 